.pagination { 
    box-sizing: border-box;
    position: relative;
    width: 1120px;
    margin:  0 auto;
    border-top: 1px solid #DADADA;
    margin-top: 72px;
    padding-top: 50px;
    padding-left: 0;

    list-style-type: none;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    color: #A8A8A8;
    cursor: pointer;
}

ul li:not(:last-child):not(:first-child) {
    margin-right: 32px;
}

.pagination__page {
    display: inline-block;
}

.pagination__page_active {
    color: #313037;
}
.pagination__next {
    color: #313037;
    display: inline-block;
    margin-left: 405px;
    position: absolute;
    left: 666px;
}

.pagination__prev {
    color: #313037;
    display: inline-block;
    margin-right: 405px;
}

.pagination__break {
    display: inline-block;
}


.disabled {
    color: #A8A8A8;
}

