.header {
    box-sizing: border-box;
    width: 1120px;
    height: 104px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 72px;
}

.header-icons {
    display: flex;

}

.header-icons__item {
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}